body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.super-color {
	background-color: #131A2D;
}
.text-light-grey {
	color: #D0C4AB;
}
.title-super {
	font-size: 60px;
	font-weight: 1600;
	font-style: bold;
}
.title-logo {
	margin-top: 20px;
}

hr {
	height: 8px;
	border-width: 5px 0;
}

.super-h3 {
	font-size: 45px;
}

.super-p {
	font-size: 30px;
}